<% if @current_usd %>
  <div class="container ">
    <div class="flex-item   current-usd">
      <%= @current_usd.rate %>
      <%= fa_icon "rub" %>
    </div>
  </div>
<% else %>
  <span class="alert alert-warning">
    Application don't have any exchange rate
  </span>
<% end %>
