@import "reset";
@import "bootstrap";
@import "font-awesome";

@import "index";

html, body {
  height: 100%;
}

.content {
  height: 100%;
  box-sizing: border-box;
  padding: 56px 0;
  position: relative;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  // position: absolute;
  top: 10px;
}