@import "reset";
@import "bootstrap";
@import "font-awesome";

@import "admin";
@import "index";

html, body {
  height: 100%;
}

.content {
  height: 100%;
  box-sizing: border-box;
  padding: 56px 0;
  position: relative;
}

.alert {
  // position: absolute;
  top: 10px;
}