// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller-index.action-index {
  .content > .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .current-usd {
      text-align: center;
      font-size: 72px;
      color: tomato;
      font-weight: bold;
    }
  }
}
