// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controller-index.action-index {

  .flex-item {
    font-weight: bold;
  }
  
  .current-usd {
    text-align: center;
    font-size: 72px;
    color: tomato;
  }
}
